﻿@model Restaurant

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @*@Html.HiddenFor(m => m.Id)*@
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Cuisine)
        @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)))
        @Html.ValidationMessageFor(m => m.Cuisine)
    </div>
    <input type="submit" value="Save" />
}

