﻿@model Restaurant

@{
    ViewBag.Title = $"Edit {Model.Name}";
}

<form asp-action="Edit" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Cuisine"></label>
        <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList(typeof(CuisineType))"></select>
        <span asp-validation-for="Cuisine"></span>
    </div>
    <input type="submit" value="Save" />
</form>

