﻿@model OdeToFoodCore.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<br />

<a asp-action="Create">Create</a>

@*<cache expires-after="@TimeSpan.FromSeconds(10)">
    <div>@DateTime.Now</div>
</cache>*@