﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">OdeToFood</a>
            </div>
            <div class="navbar navbar-nav navbar-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    <form method="post" asp-controller="Account" asp-action="Logout" class="navbar-form">
                        User name: @User.Identity.Name
                        <input type="submit" value="Logout" class="btn btn-danger" />
                    </form>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="btn btn-default btn-xs navbar-btn">Login</a>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-default btn-xs navbar-btn">Register</a>
                }
            </div>

        </div>
    </nav>


    <div class="container">
        @RenderBody()
        <footer>
            @RenderSection("footer", false)
            @await Component.InvokeAsync(nameof(OdeToFoodCore.ViewComponents.Greeting))
        </footer>
    </div>

    <environment name="Development">
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment names="Staging, Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js" asp-fallback-src="/node_modules/jquery/dist/jquery.js" asp-fallback-test="window.jQuery"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.1/jquery.validate.min.js" asp-fallback-src="/node_modules/jquery-validation/dist/jquery.validate.js" asp-fallback-test="window.jQuery && window.jQuery.validator"></script>        
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js" asp-fallback-src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"></script>
    </environment>
</body>
</html>
